#!/usr/bin/make -f

DH_VERBOSE = 1
DEB_BUILD_MAINT_OPTIONS = hardening=+all reproducible=+fixfilepath
LC_ALL := C.UTF-8
export DH_VERBOSE DEB_BUILD_MAINT_OPTIONS LC_ALL

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
include /usr/share/dpkg/pkg-info.mk

%:
		dh $@

override_dh_installdocs:
		dh_installdocs
		dh_installdocs --doc-main-package=libqalculate-doc -plibqalculate-doc
		rm -rf debian/libqalculate-doc/usr/share/doc/libqalculate-dev/

override_dh_auto_build:
		cd docs/reference && doxygen Doxyfile
		dh_auto_build
